.cart-wrapper {
  margin: 5rem;
  color: var(--ecom-clr-primary);
  font-family: var(--ff-josefin);
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.cart-product-container {
  margin: 5rem 0;
  border-bottom: 1px solid var(--ecom-clr-primary);
}

.section-products {
  color: inherit;
}

.section-total {
  padding: 0 1rem 0.5rem 1rem;
  height: fit-content;
  font-weight: var(--fw-bold);
  background-color: var(--ecom-clr-bg-dark);
  border-radius: var(--border-radius-lg);
}

.cart-product-card {
  flex: 1;
}

.cart-product-quantity {
  flex: 1;
  gap: 1rem;
}

.btn-modify-quantity {
  background: var(--ecom-clr-bg-dark);
  color: var(--ecom-clr-primary);
  border: none;
  font-size: 1.5em;
  font-weight: var(--fw-bold);
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--border-radius-lg);
}

.cart-product-price {
  flex: 1;
  flex-direction: column;
}

.btn-shipping {
  width: 100%;
  letter-spacing: 1px;
  display: block;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .cart-wrapper {
    display: block;
    margin: 1rem;
  }

  .section-total {
    padding: 0.5rem 1rem;
  }
}
