.product-section {
  color: var(--ecom-clr-primary);
  margin: 1rem 2rem;
}

.product-section-right {
  font-family: var(--ff-josefin);
  font-size: 1.5rem;
  line-height: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  font-weight: 700;
}

.product-section-image {
  height: 50vh;
}

.product-section-btns {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.product-desc {
  width: 100%;
}
