:root {
  --ff-josefin: "Josefin Slab", serif;
  --ff-dancingscript: "Dancing Script", cursive;
}

body {
  margin: 0;
  background-color: black;
}

.page-container {
  margin: 0 auto;
  max-width: 1440px;
}

.react-router-link {
  text-decoration: none;
  color: inherit;
}

.flex-dir-column{
  flex-direction: column;
}

.gap-1{
  gap: 1rem;
}