@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;500;600;700&display=swap");

@import url("https://component-library2-mriynwwcq-git-0r.vercel.app/css/main.css");

@import "./pages/home.css";
@import "./pages/product.css";
@import "./pages/cart.css";
@import "./pages/login.css";
@import "./pages/productListing.css";

:root {
  --ff-josefin: "Josefin Slab", serif;
  --ff-dancingscript: "Dancing Script", cursive;
  --ecom-clr-orangered: rgb(255, 69, 0);
}

body {
  margin: 0;
  background-color: black;
}

.page-container {
  margin: 0 auto;
  max-width: 1440px;
}

.react-router-link {
  text-decoration: none;
  color: inherit;
}

.flex-dir-column{
  flex-direction: column;
}